<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>统计数据</title>
    <script th:src='@{jquery-1.10.2.min.js}'></script>
    <link th:href="@{bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <link type="favicon" rel="shortcut icon" th:href="@{favicon.ico}" />
    <style>
        .blueball{
            color: #2aabd2;
        }

        .redball{
            color: red;
        }

        .odd {
            background-color: #DDDDDD;
        }
    </style>
</head>
<body>
<script th:src="@{echarts/echarts.min.js}"></script>

<div id="main3" style="width: 80%;text-align: center;margin-bottom: 20px;margin-top: 10px">
    <table style="margin: 0 auto;width: 70%;">
        <thead><tr><th colspan="3" style="text-align: center">十期总览</th></tr></thead>
        <tr><th>期数</th><th>结果</th><th>时间</th></tr>
        <tr th:each="hi,histat : ${news}" th:class="${histat.odd} ? 'odd':''">
            <td th:text="${hi.periods}+'期'"></td>
            <td>
                <span th:text="${hi.c1}" class="blueball"></span>
                <span th:text="${hi.c2}" class="blueball"></span>
                <span th:text="${hi.c3}" class="blueball"></span>
                <span th:text="${hi.c4}" class="blueball"></span>
                <span th:text="${hi.c5}" class="blueball"></span>
                <span th:text="${hi.c6}" class="blueball"></span>
                <span th:text="${hi.s1}" class="redball"></span>
            </td>
            <td th:text="${#dates.format(hi.time, 'yyyy-MM-dd')}"></td>
        </tr>
    </table>
</div>
<div class="form-group" style="width: 500px;margin-top: 20px;margin-left: 10px">
    <label for="limit" class="ml15 control-label">统计期数</label>&nbsp;&nbsp;
    <input id="limit" type="number"  placeholder="不输入则查询全部"/>
    <button type="button" class="btn btn-primary btn-sm" id="search">查询</button>
</div>
<!-- 为ECharts准备一个具备大小（宽高）的DOM容器-->
<div id='main' style='width:1800px;height:400px;margin-top: 20px'></div>

<div id='main2' style='height:400px;margin-top: 50px;width: 1000px'></div>


</body>
<script th:src='@{echarts/macarons.js}'></script>
<script th:src='@{echarts/shine.js}'></script>
<script>
    $(function(){
        var blues,reds;
        var limit = '';
        var colum = new Array();
        var rcolum = new Array;
        //thymeleaf 存在转义问题
        /* <![CDATA[ */
        for(var index=1; index <=33 ;index++) {
            if (index < 10) {
                colum.push("0" + index);
            } else {
                colum.push(index)
            }
        }

        for(var index=1; index <=16 ;index++){
            if(index<10){
                rcolum.push("0"+index);
            }else {
                rcolum.push(index)
            }
        } /* ]]> */

        var option1= {
            title : {
                text: '蓝球出现次数'
            },
            toolbox: {
                show : true,
                feature : {
                    mark : {show: true},
                    dataView : {show: true, readOnly: false},
                    magicType : {show: true, type: ['line', 'bar']},
                    restore : {show: true},
                    saveAsImage : {show: true}
                }
            },
            calculable : true,
            xAxis : [
                {
                    type : 'category',
                    data : colum
                }
            ],
            yAxis : [
                {
                    type : 'value'
                }
            ],
            label:{
                normal:{
                    show: true,
                    position: 'inside'
                }
            },
            series : [

                {
                    name:'降水量',
                    type:'bar',
                    data:[],
                    /* markPoint : {
                     data : [
                     {name : '最高', value : 182.2, xAxis: 7, yAxis: 183, symbolSize:18},
                     {name : '最低', value : 2.3, xAxis: 11, yAxis: 3}
                     ]
                     },*/
                    markPoint : {
                        data:[
                            {type: 'max', name: '最大值'},
                            {type: 'min', name: '最小值'}
                        ]
                    },
                    markLine : {
                        data : [
                            {type : 'average', name : '平均值'}
                        ]
                    }
                }
            ]
        };

        var myChart1 = echarts.init(document.getElementById('main'),'macarons');
        $.ajax({url:"/letou/blues",data: {limit:limit},success:function(result){
            console.log(blues)

            console.log(colum)
            option1.series[0].data = result;
            //使用刚指定的配置项和数据显示图表
            myChart1.setOption(option1);
        }});
        // 红球统计
        var option2 = {
            title : {
                text: '红球出现次数',
                textStyle: {
                    color: 'red'
                }
            },
            toolbox: {
                show : true,
                feature : {
                    mark : {show: true},
                    dataView : {show: true, readOnly: false},
                    magicType : {show: true, type: ['line', 'bar']},
                    restore : {show: true},
                    saveAsImage : {show: true}
                }
            },
            calculable : true,
            xAxis : [
                {
                    type : 'category',
                    data : rcolum
                }
            ],
            yAxis : [
                {
                    type : 'value'
                }
            ],
            label:{
                normal:{
                    show: true,
                    position: 'inside'
                }
            },
            series : [

                {
                    name:'降水量',
                    type:'bar',
                    data:[],
                    markPoint : {
                        data:[
                            {type: 'max', name: '最大值'},
                            {type: 'min', name: '最小值'}
                        ]
                    },
                    markLine : {
                        data : [
                            {type : 'average', name : '平均值'}
                        ]
                    }
                }
            ]
        };
        var myChart2 = echarts.init(document.getElementById('main2'),'shine');
        $.ajax({url:"/letou/reds",data: {limit:limit},success:function(result){

            option2.series[0].data = result
            //使用刚指定的配置项和数据显示图表
            myChart2.setOption(option2);
        }});
        
        $('#search').click(function () {
            limit = $.trim($('#limit').val());
            if(limit){
                limit = parseInt(limit);
                $('#limit').val(limit);
                $.ajax({url:"/letou/blues",data: {limit:limit},success:function(result){
                    console.log(blues)

                    console.log(colum)
                    option1.series[0].data = result;
                    //使用刚指定的配置项和数据显示图表
                    myChart1.setOption(option1);
                }});

                $.ajax({url:"/letou/reds",data: {limit:limit},success:function(result){

                    option2.series[0].data = result
                    //使用刚指定的配置项和数据显示图表
                    myChart2.setOption(option2);
                }});
            }
        })
    })
</script>
<script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?84907fa1bdd6f4a0bfb4630cbe7410b6";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
</html>